.loginForm{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    background-color: #C6E1E5;
    padding: 3rem 2rem;
    border-radius: 5px;
}

.labels{
    font-family: Raleway;
}

form h2{
    font-family: RalewayBold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #0a415e;
}

input {
    margin: 5px 0 25px 0;
    padding: 10px;
}